.button{
    height: 50%;
    width: 50%;
}
.button:hover {
    transition: filter .3s;
    filter: brightness(0.9) contrast(110%);
}
.error {
    transition: filter .3s;
    -webkit-filter:drop-shadow(5px 5px 5px #f5871f);
}