@import "notosanstc.css";
body{
    margin: 0 !important;
    padding: 0;
    overflow-x: hidden;
    height: 100% !important;
    width: 100% !important;
}
html{
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100% !important;
}
*{
    position: relative;
    font-family: "Noto Sans TC", Arial;
}
.left-square{
    height: 100%;
    width: 50%;
    left: 0;
    background-color: #939650;
    display: inline-block;
    animation: opendoor-left 1s .3s ease-out alternate forwards;
    transition: .2s ease-out;
    z-index: 4000;
}
.right-square {
    height: 100%;
    width: 50%;
    right: 0;
    background-color: #606331;
    display: inline-block;
    animation: opendoor-right 1s .3s ease-out alternate forwards;
    transition: .2s ease-out;
    z-index: 4000;
}
@keyframes opendoor-left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
@keyframes opendoor-right {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}
.noMoneyPlzShutUp {
    width: 100%;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: noMoneyBecomeBigger 1s 1s ease-in-out forwards;
    z-index: 3999;
}
@keyframes noMoneyBecomeBigger {
    0% {
        font-size: 1rem;
    }
    10% {
        font-size: 2rem;
    }
    50% {
        font-size: 8rem;
        opacity: 0.7;
    }
    100% {
        font-size: 8rem;
        opacity: 0;
        display: none;
    }
}
.innerText {
    width: 100%;
    position: absolute;
    font-size: 2rem;
    transition: .5s ease;
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0;
    top: 10%;
    left: 10%;
    animation: textAppear 1s 2s ease-in-out forwards;
    z-index: 3999;
}
ul > li {
    list-style-type: circle !important;
    font-size: 1.5rem;
}
ul {
    font-size: 2rem;
}
@keyframes textAppear {
    0%{
        opacity: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        opacity: 1;
    }
}