@import "../../css/notosanstc.css";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
* {
    font-family: "Noto Sans TC";
}
.brand-logo {
    font-family: 'Shadows Into Light', cursive;
}
.section{
    transition: height 2s linear 1s;
}
.pulse{
    z-index: 99;
}
.square{
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 75px;
    transform: rotate(45deg);
    border: #F8ECE1 solid;
    border-width: 0 4px 4px 0;
_}