@background: #4D5139;
@gray: #D9D9D9;
@yellow: #DDD23B;
@orange: #E98B2A;
.centerX() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.centerY() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.centerXY() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  position: relative;
  transition: .2s ease-in-out;
  font-family: 'Noto Sans TC', sans-serif !important;
  -webkit-overflow-scrolling: touch;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: @background;
  scroll-behavior: smooth;
}
.container {
  height: 100%;
  width: 100%;
  .centerX();
}
.material-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  #bg-tra1 {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent darken(@background, 6%) transparent;
    z-index: 0;
  }
  #bg-tra2 {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 400px 400px;
    border-color: transparent transparent darken(@background, 4%) transparent;
    z-index: -1;
  }
  #bg-tra3 {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 600px 600px;
    border-color: transparent transparent darken(@background, 2%) transparent;
    z-index: -2;
  }
}
.page {
  overflow: hidden !important;
}
#count-down-day {
  font-size: 2em !important;
  color: #F8F8F8;
  margin-left: 3px;
  b {
    span {
      font-size: .5em !important;
      color: @yellow;
    }
  }
}
#intro-inner-content {
  margin-top: 0.6em !important;
}
.intro-page {
  height: 100%;
  width: 100%;
}
.intro-title {
  font-size: 3.5em !important;
  line-height: 1.1 !important;
  display: block;
  span {
    color: @orange;
    font-size: 2rem;
    display: inline-flex;
  }
  .intro-phone-text {
    color: @yellow !important;
    margin-left: 3px;
  }
  .intro-phone-text-color {
    color: @yellow !important;
  }
  .text-yellow {
    color: @yellow !important;
  }
  .text-orange {
    color: @orange !important;
  }
  .intro-TC-RP-inline {
    width: 100%;
    display: block;
    span {
      font-size: 2.3rem;
      display: inline-block;
      .centerY();
      line-height: 1.3;
      color: @yellow !important;
    }
    b {
      font-size: 5rem;
      display: inline-block;
      margin-left: -5px;
    }
  }
}
.down-arrow {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 5px solid @gray;
  border-top: 0;
  border-left: 0;
  border-radius: 5px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: 5%;
  left: 50%;
  animation: down_arrow 1s ease-in-out infinite alternate;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.intro-content {
  .centerY();
  margin-left: 10rem;
  p {
    color: #F8F8F8 !important;
    margin-left: 3px;
  }
  a {
    color: @yellow !important;
  }
}
.phone-pos {
  position: absolute;
  left: 60%;
  .centerY();
  width: 42%;
  height: 65%;
  padding: 20px;
  z-index: 100;
}
.phone-frame {
  .centerXY();
  height: 500px;
  width: 240px;
  border: 0;
  background-color: @gray;
  border-radius: 30px;
  box-shadow: -3px 3px 10px rgba(0,0,0,0.3);
  z-index: 100;
  .phone-top {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 100;
    .camera {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      .centerXY();
      background-color: #000;
    }
  }
  .phone-middle {
    position: absolute;
    top: 10%;
    width: 95%;
    height: 80%;
    background-color: #000000;
    z-index: 100;
    .centerX();
    img {
      width: 100%;
      height: auto;
      .centerXY();
    }
    video {
      width: 100%;
      height: auto;
      .centerXY();
    }
  }
}
.page {
  height: 100%;
  width: 100%;
  .bgImg {
    height: auto;
    width: 100%;
  }
  h1 {
    width: 80%;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    .centerXY();
    color: @gray
  }
}
@keyframes down_arrow {
  from {
    bottom: 5%;
  }
  to {
    bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  .page {
    .bgImg {
      height: 100%;
      width: auto;
      overflow: hidden;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 1.5em;
    }
  }
}
@media screen and (min-width: 993px) and (max-width: 1193px) {
  .phone-pos {
    display: none;
  }
  .intro-page {
    left: 5%;
    width: 90%;
  }
  .intro-content {
    margin-left: 0 !important;
  }
  #intro-inner-content {
    margin-top: 0.3em !important;
  }
  .page {
    .bgImg {
      height: auto;
      width: 100%;
      overflow: hidden;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 992px) {
  .phone-pos {
    display: none;
  }
  .intro-page {
    left: 5%;
    width: 90%;
  }
  .intro-content {
    margin-left: 0 !important;
  }
  #intro-inner-content {
    margin-top: 0.3em !important;
  }
  .page {
    .bgImg {
      height: auto;
      width: 100%;
      overflow: hidden;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 768px) {
  .phone-pos {
    display: none;
  }
  .intro-page {
    left: 5%;
    width: 90%;
  }
  .intro-content {
    margin-left: 0 !important;
  }
  #intro-inner-content {
    margin-top: 0.3em !important;
  }
  .page {
    overflow: hidden;
    .bgImg {
      height: 100%;
      width: auto;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 2em;
    }
  }
}
@media screen and (max-width: 680px) {
  .phone-pos {
    display: none;
  }
  .intro-page {
    left: 5%;
    width: 90%;
  }
  .intro-content {
    margin-left: 0 !important;
  }
  #intro-inner-content {
    margin-top: 0.3em !important;
  }
  .page {
    .bgImg {
      height: 100%;
      width: auto;
      overflow: hidden;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 480px) {
  .phone-pos {
    display: none;
  }
  .intro-page {
    left: 5%;
    width: 90%;
  }
  .intro-content {
    margin-left: 0 !important;
  }
  #intro-inner-content {
    margin-top: 0.3em !important;
  }
  .page {
    .bgImg {
      height: 100%;
      width: auto;
      overflow: hidden;
      display: block;
      margin: auto;
      .centerX();
    }
    h1 {
      height: auto;
      width: 90%;
      line-height: 1.2;
      font-size: 1.5em;
    }
  }
}
