<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <input type="number" v-model="score">
        <p v-for='data in scoreArray'>{{ data }} <button v-on:click='delFun(this.key)'>123</button></p>
        <button v-on:click='mufun'>加入</button>
    </div>
</body>
<footer>
    <script src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</footer>
</html>