.active a{
    color: red !important;
}
@import "../../css/notosanstc.css";
* {
    font-family: "Noto Sans TC" !important;
}
.square {
    position: absolute;
    width: 600px;
    height: 100px;
    margin: -50px 0 0 -300px;
    top: 50%;
    left: 50%;
}
.loginbg {
    height: 100%;
    background: url('pic/background.jpg') center fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}