.active a{
    color: red !important;
}
@import "../../css/notosanstc.css";
* {
    font-family: "Noto Sans TC" !important;
}
.square {
    position: absolute;
    width: 400px;
    margin: -50px 0 0 -150px;
    top: 50%;
    left: 50%;
}
.loginbg {
    height: 100%;
    background: url('pic/background.jpg') center fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.formBody {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: squareAppear 1s 1s;
    -o-animation: squareAppear 1s 1s;
    animation: squareAppear 1s 1s;
}
.loginbtn {
    padding: 0;
    margin: 0;
    border: 0;
}