<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>測試</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-light loginbg userelative">
<div class="container" id="newapp">
    <section v-if='login === false' class="loginbg">
        <div class="container">

            <form class="form-signin">
                <h2 class="form-signin-heading">請登入</h2>
                <input type="text" class="form-control" placeholder="請輸入帳號" v-model="account" required autofocus>
                <input type="password" class="form-control" placeholder="請輸入密碼" v-model="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="firebaseLogin">登入</button>
            </form>

        </div> <!-- /container -->
    </section>
    <section v-if='login === true'>
        <h1 class="text-center">{{ title }}</h1>
        <div class="formBody">
            <input type="text" class="form-control" placeholder="請輸入待辦事項" v-model="inputWork"
                   @keyup.enter="addWork(inputWork)">
            <div class="container">
                <div class="align-items-center">
                    <div class="row">
                        <div class="col-xs-4">
                            <button class="btn" v-on:click="addWork(inputWork)">增加事項</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn" v-on:click="deleteAllWorks()">全部清除</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn" v-on:click="finishAllWorks()">全部做完</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <ul class="list-group list-group-flush rounded">
                        <li v-for="data in filterWorks" v-bind:class="{ active: data.finished }"
                            v-on:click="finishWork(data)" class="list-group-item">
                            <p class="text-truncate"> {{ data.content }} </p>
                            <a href="#" @click.prevent="deleteWork(data)">刪除</a>
                        </li>
                        <div class="container">
                            <div class="row">
                                <button @click="changeVisToHaveFinished" class="btn text-light bg-primary col-lg-2">
                                    已完成
                                </button>
                                <button @click="changeVisToYetFinished" class="btn text-light bg-primary col-lg-2">未完成
                                </button>
                                <button @click="changeVisToAll" class="btn text-light bg-primary col-lg-2">顯示全部</button>
                                <p class="col-lg-4 text-muted align-middle" style="margin-bottom: 0; margin-top: 8px">共有
                                    {{ inputWorks.length }} 件事，還有 {{ filterNotFinishedWorks.length }}
                                    件事情未完成。</p>
                            </div>
                        </div>
                </div>
            </div>
            <br>
        </div>
        <br>
    </section>
</div>
</body>
<footer>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="data.js"></script>
</footer>
</html>
